
    body {
        margin: 0px;
        font-family: Poppins;
        color: #333;
        font-size: 18px;
    }

    #canvas { 
        position: absolute;
        width: 100vw;
        height: 100vh;
    }

    .panel {
        background-color: white;
        margin: 40px;
        box-shadow: 10px 10px 0px #333;
        padding: 10px;
    }

    .timer {
        min-width: 130px;
        height: 90px;
    }

    #time {
        margin: -5px;
    }

    .bold {
        font-weight: 700;
    }

    #arrow-key-instructions {
        padding: 20px 30px;
    }

    .score {
        min-width: 150px;
        height: 145px;
    }

    #score {
        margin: -15px;
        font-size: 100px;
    }

    .equation {
       width: 300px;
       height: 60px;
    }

    .full-page {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .flex {
        display: flex;
    }

    .column {
        flex-direction: column;
    }

    .space-between {
        justify-content: space-between;
    }

    .center {
        justify-content: center;
    }

    .even {
        justify-content: space-evenly;
    }

    .vcenter {
        align-items: center;
    }

    .text-center {
        text-align: center;
    }

    .popup-background {
        background-color: #33333388;
    }

    .popup {
        padding: 40px 60px;
    }

    .medium-font {
        font-size: 30px;
    }

    .large-font {
        font-size: 50px;
    }

    .x-large-font {
        font-size: 100px;
    }

    .fun-font {
        font-family: Luckiest Guy;
        color: #3498db;
        text-shadow: 5px 5px #333333;
    }

    .tilted {
        transform: rotate(-10deg);
    }

    .instructions {
        margin: 5px 0px 20px 0px;
    }