/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider */

#tempo-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 4px;
    border-RADIUS: 2px;
    background: #eee;
    outline: none;
}

#tempo-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-RADIUS: 10px;
    background: #aaa;
    cursor: pointer;
}

#tempo-slider::-webkit-slider-thumb:hover {
    background: blue;
}

#tempo-slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-RADIUS: 10px;
    background: #aaa;
    cursor: pointer;
}

#tempo-slider::-moz-range-thumb:hover {
    background: blue;
}